#body_recovery {
	width: 100%;
	height: 100%;
}

.box-recovery {
	max-width: 600px;
	width: 50%;
	min-width: 400px;
	height: 350px;
	margin: auto;
	box-shadow: 0 0 15px 1px rgb(196, 196, 196);
	background-color: rgb(252, 254, 255);
	border-radius: 10px;
	margin-top: 2px;

	display: flex;
	flex-direction: column;

	padding-bottom: 10px;
	margin-top: 50px;
	overflow: hidden;
}

.PreCat-recovery {
	height: 30px;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px auto;
	margin-top: 10px;
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.Cat-recovery {
	height: 50px;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 10px;
}

.textInput-recovery {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 25px;
	font-family: 'Kanit', sans-serif;
    font-weight: 400;
	outline: none;
	transition: 0.1s;
}

.infobox-recovery{
	height: 20px;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px auto;
	margin-top: 1px;
	margin-bottom: 5px;
}

.info-recovery {
	font-size: 15px;
	font-family: 'Kanit', sans-serif;
    font-weight: 300;
	text-align: left;
	color: red;
}

.submit-recovery {
	width: 100%;
	border: 0;
	background-color: rgb(0, 140, 255);
	border-radius: 5px;
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
    font-weight: 400;
	color: white;
	cursor: pointer;
	user-select: none;
}

.unusable-recovery {
	background-color: grey;
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}

.title-recovery {
	margin: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    width: 75%;
    height: fit-content;
    text-align: left;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    user-select: none;
}

#body_recovery button {
	user-select: none;
}

#body_recovery input:focus {
	border: 1px solid rgb(0, 140, 255);
	box-shadow: 0 0 6px rgb(0, 140, 255);
}

.inputError-recovery {
	border: 1px solid red;
}
.inputError-recovery:focus {
	border: 1px solid red;
	box-shadow: 0 0 6px red;
}

.inputWarning-recovery {
	border: 1px solid orange;
}
.inputWarning-recovery:focus {
	border: 1px solid orange;
	box-shadow: 0 0 6px orange;
}

.box-recovery-code {
	max-width: 600px;
	width: 50%;
	min-width: 400px;
	height: 300px;
	margin: auto;
	box-shadow: 0 0 15px 1px rgb(196, 196, 196);
	background-color: rgb(252, 254, 255);
	border-radius: 10px;
	margin-top: 2px;

	display: flex;
	flex-direction: column;

	padding-bottom: 10px;
	margin-top: 50px;
	overflow: hidden;
}

.digit-input-recovery-code {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 5px;
	caret-color: transparent;
}

.center-recovery-code {
	margin: 0 auto;
}

.title-recovery-code {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 0px;
	width: 100%;
	height: fit-content;
	text-align: center;
	font-size: 30px;
	font-family: 'Kanit', sans-serif;
    font-weight: 700;
	user-select: none;
}

.step-title-recovery-code {
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: fit-content;
	text-align: center;
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.step-content-recovery-code {
	margin: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	width: 100%;
	height: fit-content;
	text-align: center;
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
}

#nb_seconds {
	font-family: 'Courier New', monospace;
    font-weight: 700;
}

.box-recovery-change-password {
	max-width: 600px;
	width: 50%;
	min-width: 400px;
	height: 580px;
	margin: auto;
	box-shadow: 0 0 15px 1px rgb(196, 196, 196);
	background-color: rgb(252, 254, 255);
	border-radius: 10px;
	margin-top: 2px;

	display: flex;
	flex-direction: column;

	padding-bottom: 10px;
	margin-top: 50px;
	overflow: hidden;
}

#nb_seconds_2 {
	font-family: 'Courier New', monospace;
    font-weight: 700;
}

.hidden {
	display: none;
}